.page-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%);
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
  height: 700px;
}
.page-container:after {
  content: " ";
  display: block;
  clear: both;
}
